#Tugas Mechine Learning

#1. API Kaggle

![WhatsApp Image 2022-10-06 at 20.27.10.jpeg]()

In [ ]:
#Install modul kaggle
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
from google.colab import files
files.upload()

Saving Iris.csv to Iris.csv

{'Iris.csv': b'Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species\n1,5.1,3.5,1.4,0.2,Iris-setosa\n2,4.9,3.0,1.4,0.2,Iris-setosa\n3,4.7,3.2,1.3,0.2,Iris-setosa\n4,4.6,3.1,1.5,0.2,Iris-setosa\n5,5.0,3.6,1.4,0.2,Iris-setosa\n6,5.4,3.9,1.7,0.4,Iris-setosa\n7,4.6,3.4,1.4,0.3,Iris-setosa\n8,5.0,3.4,1.5,0.2,Iris-setosa\n9,4.4,2.9,1.4,0.2,Iris-setosa\n10,4.9,3.1,1.5,0.1,Iris-setosa\n11,5.4,3.7,1.5,0.2,Iris-setosa\n12,4.8,3.4,1.6,0.2,Iris-setosa\n13,4.8,3.0,1.4,0.1,Iris-setosa\n14,4.3,3.0,1.1,0.1,Iris-setosa\n15,5.8,4.0,1.2,0.2,Iris-setosa\n16,5.7,4.4,1.5,0.4,Iris-setosa\n17,5.4,3.9,1.3,0.4,Iris-setosa\n18,5.1,3.5,1.4,0.3,Iris-setosa\n19,5.7,3.8,1.7,0.3,Iris-setosa\n20,5.1,3.8,1.5,0.3,Iris-setosa\n21,5.4,3.4,1.7,0.2,Iris-setosa\n22,5.1,3.7,1.5,0.4,Iris-setosa\n23,4.6,3.6,1.0,0.2,Iris-setosa\n24,5.1,3.3,1.7,0.5,Iris-setosa\n25,4.8,3.4,1.9,0.2,Iris-setosa\n26,5.0,3.0,1.6,0.2,Iris-setosa\n27,5.0,3.4,1.6,0.4,Iris-setosa\n28,5.2,3.5,1.5,0.2,Iris-setosa\n29,5.2,3.4,1.4,0.2,Iris-setosa\n30,4.7,3.2,1.6,0.2,Iris-setosa\n31,4.8,3.1,1.6,0.2,Iris-setosa\n32,5.4,3.4,1.5,0.4,Iris-setosa\n33,5.2,4.1,1.5,0.1,Iris-setosa\n34,5.5,4.2,1.4,0.2,Iris-setosa\n35,4.9,3.1,1.5,0.1,Iris-setosa\n36,5.0,3.2,1.2,0.2,Iris-setosa\n37,5.5,3.5,1.3,0.2,Iris-setosa\n38,4.9,3.1,1.5,0.1,Iris-setosa\n39,4.4,3.0,1.3,0.2,Iris-setosa\n40,5.1,3.4,1.5,0.2,Iris-setosa\n41,5.0,3.5,1.3,0.3,Iris-setosa\n42,4.5,2.3,1.3,0.3,Iris-setosa\n43,4.4,3.2,1.3,0.2,Iris-setosa\n44,5.0,3.5,1.6,0.6,Iris-setosa\n45,5.1,3.8,1.9,0.4,Iris-setosa\n46,4.8,3.0,1.4,0.3,Iris-setosa\n47,5.1,3.8,1.6,0.2,Iris-setosa\n48,4.6,3.2,1.4,0.2,Iris-setosa\n49,5.3,3.7,1.5,0.2,Iris-setosa\n50,5.0,3.3,1.4,0.2,Iris-setosa\n51,7.0,3.2,4.7,1.4,Iris-versicolor\n52,6.4,3.2,4.5,1.5,Iris-versicolor\n53,6.9,3.1,4.9,1.5,Iris-versicolor\n54,5.5,2.3,4.0,1.3,Iris-versicolor\n55,6.5,2.8,4.6,1.5,Iris-versicolor\n56,5.7,2.8,4.5,1.3,Iris-versicolor\n57,6.3,3.3,4.7,1.6,Iris-versicolor\n58,4.9,2.4,3.3,1.0,Iris-versicolor\n59,6.6,2.9,4.6,1.3,Iris-versicolor\n60,5.2,2.7,3.9,1.4,Iris-versicolor\n61,5.0,2.0,3.5,1.0,Iris-versicolor\n62,5.9,3.0,4.2,1.5,Iris-versicolor\n63,6.0,2.2,4.0,1.0,Iris-versicolor\n64,6.1,2.9,4.7,1.4,Iris-versicolor\n65,5.6,2.9,3.6,1.3,Iris-versicolor\n66,6.7,3.1,4.4,1.4,Iris-versicolor\n67,5.6,3.0,4.5,1.5,Iris-versicolor\n68,5.8,2.7,4.1,1.0,Iris-versicolor\n69,6.2,2.2,4.5,1.5,Iris-versicolor\n70,5.6,2.5,3.9,1.1,Iris-versicolor\n71,5.9,3.2,4.8,1.8,Iris-versicolor\n72,6.1,2.8,4.0,1.3,Iris-versicolor\n73,6.3,2.5,4.9,1.5,Iris-versicolor\n74,6.1,2.8,4.7,1.2,Iris-versicolor\n75,6.4,2.9,4.3,1.3,Iris-versicolor\n76,6.6,3.0,4.4,1.4,Iris-versicolor\n77,6.8,2.8,4.8,1.4,Iris-versicolor\n78,6.7,3.0,5.0,1.7,Iris-versicolor\n79,6.0,2.9,4.5,1.5,Iris-versicolor\n80,5.7,2.6,3.5,1.0,Iris-versicolor\n81,5.5,2.4,3.8,1.1,Iris-versicolor\n82,5.5,2.4,3.7,1.0,Iris-versicolor\n83,5.8,2.7,3.9,1.2,Iris-versicolor\n84,6.0,2.7,5.1,1.6,Iris-versicolor\n85,5.4,3.0,4.5,1.5,Iris-versicolor\n86,6.0,3.4,4.5,1.6,Iris-versicolor\n87,6.7,3.1,4.7,1.5,Iris-versicolor\n88,6.3,2.3,4.4,1.3,Iris-versicolor\n89,5.6,3.0,4.1,1.3,Iris-versicolor\n90,5.5,2.5,4.0,1.3,Iris-versicolor\n91,5.5,2.6,4.4,1.2,Iris-versicolor\n92,6.1,3.0,4.6,1.4,Iris-versicolor\n93,5.8,2.6,4.0,1.2,Iris-versicolor\n94,5.0,2.3,3.3,1.0,Iris-versicolor\n95,5.6,2.7,4.2,1.3,Iris-versicolor\n96,5.7,3.0,4.2,1.2,Iris-versicolor\n97,5.7,2.9,4.2,1.3,Iris-versicolor\n98,6.2,2.9,4.3,1.3,Iris-versicolor\n99,5.1,2.5,3.0,1.1,Iris-versicolor\n100,5.7,2.8,4.1,1.3,Iris-versicolor\n101,6.3,3.3,6.0,2.5,Iris-virginica\n102,5.8,2.7,5.1,1.9,Iris-virginica\n103,7.1,3.0,5.9,2.1,Iris-virginica\n104,6.3,2.9,5.6,1.8,Iris-virginica\n105,6.5,3.0,5.8,2.2,Iris-virginica\n106,7.6,3.0,6.6,2.1,Iris-virginica\n107,4.9,2.5,4.5,1.7,Iris-virginica\n108,7.3,2.9,6.3,1.8,Iris-virginica\n109,6.7,2.5,5.8,1.8,Iris-virginica\n110,7.2,3.6,6.1,2.5,Iris-virginica\n111,6.5,3.2,5.1,2.0,Iris-virginica\n112,6.4,2.7,5.3,1.9,Iris-virginica\n113,6.8,3.0,5.5,2.1,Iris-virginica\n114,5.7,2.5,5.0,2.0,Iris-virginica\n115,5.8,2.8,5.1,2.4,Iris-virginica\n116,6.4,3.2,5.3,2.3,Iris-virginica\n117,6.5,3.0,5.5,1.8,Iris-virginica\n118,7.7,3.8,6.7,2.2,Iris-virginica\n119,7.7,2.6,6.9,2.3,Iris-virginica\n120,6.0,2.2,5.0,1.5,Iris-virginica\n121,6.9,3.2,5.7,2.3,Iris-virginica\n122,5.6,2.8,4.9,2.0,Iris-virginica\n123,7.7,2.8,6.7,2.0,Iris-virginica\n124,6.3,2.7,4.9,1.8,Iris-virginica\n125,6.7,3.3,5.7,2.1,Iris-virginica\n126,7.2,3.2,6.0,1.8,Iris-virginica\n127,6.2,2.8,4.8,1.8,Iris-virginica\n128,6.1,3.0,4.9,1.8,Iris-virginica\n129,6.4,2.8,5.6,2.1,Iris-virginica\n130,7.2,3.0,5.8,1.6,Iris-virginica\n131,7.4,2.8,6.1,1.9,Iris-virginica\n132,7.9,3.8,6.4,2.0,Iris-virginica\n133,6.4,2.8,5.6,2.2,Iris-virginica\n134,6.3,2.8,5.1,1.5,Iris-virginica\n135,6.1,2.6,5.6,1.4,Iris-virginica\n136,7.7,3.0,6.1,2.3,Iris-virginica\n137,6.3,3.4,5.6,2.4,Iris-virginica\n138,6.4,3.1,5.5,1.8,Iris-virginica\n139,6.0,3.0,4.8,1.8,Iris-virginica\n140,6.9,3.1,5.4,2.1,Iris-virginica\n141,6.7,3.1,5.6,2.4,Iris-virginica\n142,6.9,3.1,5.1,2.3,Iris-virginica\n143,5.8,2.7,5.1,1.9,Iris-virginica\n144,6.8,3.2,5.9,2.3,Iris-virginica\n145,6.7,3.3,5.7,2.5,Iris-virginica\n146,6.7,3.0,5.2,2.3,Iris-virginica\n147,6.3,2.5,5.0,1.9,Iris-virginica\n148,6.5,3.0,5.2,2.0,Iris-virginica\n149,6.2,3.4,5.4,2.3,Iris-virginica\n150,5.9,3.0,5.1,1.8,Iris-virginica\n'}

In [ ]:
!ls -lha kaggle.json

ls: cannot access 'kaggle.json': No such file or directory

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp kaggle.json ~/.kaggle/

cp: cannot stat 'kaggle.json': No such file or directory

In [ ]:
!kaggle datasets list -s Iris

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 166, in authenticate
    self.config_file, self.config_dir))
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [ ]:
!kaggle datasets download uciml/iris --unzip

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 166, in authenticate
    self.config_file, self.config_dir))
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

#2. LIBRARY PANDAS dan NUMPY

Pada materi ini, peserta sudah mendapatkan pemahaman mengenai data dan dataset. Penggunaan library pada Python memberikan kemudahan dalam proses data understanding. Beberapa library yang digunakan adalah library Pandas dan Numpy.

In [ ]:
#Import Library Pandas
import pandas as pd

#Import Library Numpy
import numpy as np

#3. DATAFRAME

Panggil file (load dataset) dengan format .csv untuk dataset mengenai bunga Iris yang sudah peserta unduh dari Kaggle, dan akan disimpan di dalam dataframe df. Lalu tampilkan 5 baris awal dataset dengan function head()

In [ ]:
#Panggil file (load file bernama Iris.csv) dan simpan dalam dataframe Lalu tampilkan 5 baris awal dataset dengan function head()
df = pd.read_csv("/content/Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

DataFrame adalah struktur data 2 dimensi yang berbentuk tabular (mempunyai baris dan kolom). Hampir semua data tidak hanya memiliki 1 kolom tetapi lebih dari 1 kolom, sehingga lebih cocok menggunakan pandas DataFrame untuk mengolahnya.

Penggunaan dataframe pada Python dengan menggunakan syntaks: df.

#4. Telaah Data

Pada telaah data, dapat dilakukan untuk mengetahui:
- tipe data dari setiap kolom
- deskripsi statistik data

In [ ]:
#Tampilkan tipe data dari kolom yang ada pada dataset
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

#5. Tipe Data dari kolom yang ada di dataset

In [ ]:
#Kolom  "Id" memiliki tipe data = int
print(df["Id"].dtypes)
#Kolom "SepalLengthCm" memiliki tipe data = float
print(df["SepalLengthCm"].dtypes)
#Kolom "Species" memiliki tipe data = object
print(df["Species"].dtypes)

int64
float64
object

#6. Menghitung ukuran dari dataset

In [ ]:
#Hitunglah ukuran (jumlah baris dan kolom) dari dataset. Dengan menggunakan method function
#Fucntion Shape digunakan untuk mengetahui dimensi dari dataframe atau ukuran baris dan kolomnya.
df.shape

(150, 6)

#7. Jumlah baris, dan jumlah kolom pada dataset

Diketahui:

Jumlah Baris pada dataset adalah =  150

Jumlah kolom pada dataset adalah =  6

#8. Tampilkan data yang hanya berisi kolom "Id" dan kolom "Species" dalam bentuk dataframe.

In [ ]:
df_selected = df[["Id","Species"]]
pd.DataFrame(df_selected)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

#9. Tampilkan data dengan dataframe, dan data yang ditampilkan adalah data pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

In [ ]:
df.iloc[:10]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

#10. Tampilkan data hanya kolom "Id" dan kolom "Species" dengan dataframe, dan yang ditampilkan adalah data pada baris dengan indeks 11 (sebelas) sampai dengan indeks 15 (limabelas)

In [ ]:
#Tampilkan data hanya kolom "Id" dan kolom "Species", pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)
df_selected = df[["Id","Species"]]
df_selected.iloc[0:9]

   Id      Species
0   1  Iris-setosa
1   2  Iris-setosa
2   3  Iris-setosa
3   4  Iris-setosa
4   5  Iris-setosa
5   6  Iris-setosa
6   7  Iris-setosa
7   8  Iris-setosa
8   9  Iris-setosa

#11. DataFrame dapat menampilkan beberapa baris pertama/terakhir dari dataset yang di load. Gunakan Method head() dan tail().

Latihan: Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe.

In [ ]:
df.head(8)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

#12. Menampilkan data pada 3 (tiga) baris terakhir dari dataset, dengan dataframe.

Tampilkan data pada 3 (tiga) baris terakhir dari dataset, dengan dataframe.

In [ ]:
df.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

#13. Deskripsi Statistik Data

DataFrame method describe() menampilkan statistik dasar setiap kolom data yang bertipe numerik, mencakup banyaknya data (count), rerata aritmetik (mean), simpangan baku (std), nilai terkecil (min), kuartil pertama (25%), kuartil kedua/median (50%), kuartil ketiga (75%), dan nilai terbesar (max).

Hitung korelasi dari dataset. Dengan menggunakan method function

In [ ]:
#df.drop('Id',axis=1,inplace=True)
df.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

#14. Berdasarkan pada perhitungan korelasi di nomor (11), apakah yang dapat Bapak/Ibu simpulkan sementara? Silakan tuliskan simpulan sementara Bapak/Ibu pada cell di bawah ini.

Menurut hasil fungsi corr korelasi PetalLengthCm dan PetalWidthCm memiliki korelasi yang tinggi yang dibuktikan dengan nilai 0,96.
Begitu pula untuk PetalWidthCm dan SepalLengthCm memiliki korelasi yang baik dengan nilai 0,82.
Dan untuk PetalLenghtCm dan SepalLenghtCm memiliki korelasi yang baik dengan nilai 0.87
Untuk Attribut lainnya kurang memiliki korelasi yang baik.

#15. Mengitung korelasi untuk kolom berikut ini: PetalLengthCm, PetalWidthCm

In [ ]:
df_selected2 = df[["PetalLengthCm", "PetalWidthCm"]]
df_selected2.corr()

               PetalLengthCm  PetalWidthCm
PetalLengthCm       1.000000      0.962757
PetalWidthCm        0.962757      1.000000

#16. Method "describe" secara otomatis melakukan komputasi statistik untuk semua continous variable. Secara default "describe" melakukan ignore terhadap variabel bertype objek.

Komputasi statistik yang dilakukan terdiri dari: count, mean, std, min, max, 25%, 75%, max.

Latihan: Gunakan method describe pada dataset yang sudah di load untuk semua continous variabel. (Dataset Iris.csv)

In [ ]:
#Metode describe untuk komputasi statistik
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

#17. Gunakan method describe pada dataset yang sudah di load untuk data bertype objek. (Dataset Iris.csv)

In [ ]:
df.describe(include = "object")

            Species
count           150
unique            3
top     Iris-setosa
freq             50

#18. Gunakan method describe pada dataset yang sudah di load untuk semua type data (continous variabel dan type object).

In [ ]:
df.describe(include = "all")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,150.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,75.500000,5.843333,3.054000,3.758667,1.198667,NaN
std,43.445368,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,38.250000,5.100000,2.800000,1.600000,0.300000,NaN
50%,75.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,112.750000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

#19. Menghitunglah nilai mean dari dataset.

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

#20. Menghitung nilai mean dari dataset untuk kolom PetalLengthCm.

In [ ]:
print("Nilai Mean dari kolom PetalLengthCm: ", df["PetalLengthCm"].mean())

Nilai Mean dari kolom PetalLengthCm:  3.758666666666666

#21. Carilah nilai minimal dari dataset untuk kolom SepalWidthCm.

In [ ]:
print(df["SepalWidthCm"].min())

2.0

#22. Method Groupby

Method groupby memungkinkan analisis dilakukan secara per kelompok nilai atribut tertentu.

Hitunglah nilai mean dari dataset untuk kolom SepalLengthCm per Species dengan menggunakan metode groupby.

In [ ]:
df.groupby("Species")["SepalLengthCm"].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

#23. Method Value Count

value_counts() menghasilkan frekuensi setiap nilai unik di dalam kolom, dan yang tertinggi count-nya adalah merupakan modus pada kolom tersebut.

Hitunglah frekuensi pada kolom 'Species' dengan menggunakan metode value_counts().

In [ ]:
df["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

#24. Menampilkan perhitungan frekuensi pada kolom 'Species' dengan menggunakan metode value_counts() dalam bentuk dataframe.

In [ ]:
valueSpecies = df["Species"].value_counts()
result = pd.DataFrame(valueSpecies)
result

                 Species
Iris-setosa           50
Iris-versicolor       50
Iris-virginica        50

#25. Menitunglah frekuensi pada kolom 'PetalLenghCm' dengan menggunakan metode value_counts() dan dalam bentuk dataframe.

In [ ]:
valuePetalLenghCm = df["PetalLengthCm"].value_counts()
result = pd.DataFrame(valuePetalLenghCm)
result

     PetalLengthCm
1.5             14
1.4             12
5.1              8
4.5              8
1.6              7
1.3              7
5.6              6
4.7              5
4.9              5
4.0              5
4.2              4
5.0              4
4.4              4
4.8              4
1.7              4
3.9              3
4.6              3
5.7              3
4.1              3
5.5              3
6.1              3
5.8              3
3.3              2
5.4              2
6.7              2
5.3              2
5.9              2
6.0              2
1.2              2
4.3              2
1.9              2
3.5              2
5.2              2
3.0              1
1.1              1
3.7              1
3.8              1
6.6              1
6.3              1
1.0              1
6.9              1
3.6              1
6.4              1